# Local dev / your PC — External Database URL (Render)
DATABASE_URL="postgresql://ugprohub:sHx2R1T8SMrMULib4pYL8rzkc7RNHe7H@dpg-d8cpfla8qa3s73bng75g-a.oregon-postgres.render.com/e_strep_db"

# Render Web Service only — Internal Database URL
# DATABASE_URL="postgresql://ugprohub:sHx2R1T8SMrMULib4pYL8rzkc7RNHe7H@dpg-d8cpfla8qa3s73bng75g-a/e_strep_db"

AUTH_SECRET="change-me-to-a-random-secret"
AUTH_TRUST_HOST=true
NEXTAUTH_URL="https://e-sitrep-system.vercel.app"
